.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.noscroll::-webkit-scrollbar {
    display: none;
}
.noscroll {
    -ms-overflow-style: none;
}

@font-face {
    font-family: roboto;
    src: url(../assets/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-thin;
    src: url(../assets/Roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../assets/Roboto/Roboto-Bold.ttf);
}

html {
    padding: 0px;
}

body {
    padding: 20px;
    background-color: rgb(63, 58, 77);
}

h1, h2, h3, h4, h5 {
    font-family: roboto-bold;
    color: rgb(235, 235, 235);
}